@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Akzidenz";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/AkzidenzGroteskPro-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "Akzidenz";
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/AkzidenzGroteskPro-Md.woff") format("woff");
  }
  @font-face {
    font-family: "Akzidenz";
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/AkzidenzGroteskPro-BoldEx.woff") format("woff");
  }

  html {
    font-family: Akzidenz, sans-serif;
  }
}

@layer components {
  .app {
    @apply h-screen flex flex-col justify-center items-center dark:text-white dark:bg-zinc-800;
  }
  .logo {
    @apply text-2xl sm:text-4xl md:text-5xl font-bold;
  }

  .game {
    @apply mt-10 flex justify-center;
  }

  .start-btn {
    @apply font-bold bg-blue-400 text-zinc-800 dark:text-white px-10 py-2 rounded-md hover:bg-blue-300 ease-in;
  }

  .wrapper {
    @apply flex text-3xl flex-row mx-2;
  }
  .letter {
    @apply  text-5xl mx-2;
  }


}
